/*main styling for pages*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7em;
    background-color: rgb(231, 229, 229);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*styling header*/
header {
    padding: 20px;
    background-color: rgb(192, 188, 188);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/*styling for menu and links in mobile device*/
nav{
    height: 100vh;
    width: 300px;
    top: 0;
    right: 0;
    display: none;
    position: fixed;
    background-color: rgb(192, 188, 188);
}

nav ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    padding: 30px;
    line-height: 2em;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text-menu {
    display: inline-block;
}

h1{
    margin-left: 30px;
    font-size: 1.4em;
}

/*styling for open button, hamburger menu*/
.menu-open {
    display: flex;
    align-items: center;
    border: none;
    padding: 10px 10px;
    background-color: rgb(192, 188, 188);
    cursor: pointer;
}

.bars{
    display: block;
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 10px;
}

/*styling for close button, hamburger menu*/
.menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    background-color: rgb(192, 188, 188);
    cursor: pointer;
    border: none;
}

.cross1 {
    width: 30px;
    transform: rotate(45deg);
    top: 5px;
    position: relative;
}

.cross2 {
    width: 30px;
    transform: rotate(135deg);
    top: -3px;
    position: relative;
}

/*styling for main and abput container, filling out the space on the page, sizing text*/
.main-container,
.about-container {
    width: 90%;
    flex: 1;
    display: flex;
    background-color: white;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
}

.main-container h2,
.about-container h2 {
    font-size: 1.3em;
    padding: 10px;
}

.main-container p,
.about-container p {
    font-size: 1em;
    padding: 10px;
}

/*styling for images, in mobile view all pictures in a column, adding box-shadow and centering.*/
.images-container {
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
}

.images-container div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.images-container img {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

/*styling footer*/
footer {
    background-color: rgb(192, 188, 188);
    text-align: center;
    height: 80px;
    padding: 20px;
}

/*styling for desktop*/
@media (min-width: 992px) {
    /*styling for menu and links in desktop view, all links on a row*/
    .menu-open {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    .menu-close {
        display: none;
    }

    nav {
        font-size: 1.2em;
        display: flex;
        position: relative;
        top: 0;
        right: 0;
        width: auto;
        height: 80px;
    }

    nav ul {
        display: flex;
        align-items: center;
    }

    nav li {
        display: inline;
        margin: 15px;
    }

    h1 {
        font-size: 1.8em;
        margin-left: 90px;
    }

    /*centering and sizing conatiner on desktop*/
    .main-container,
    .about-container {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .main-container section {
        max-width: 40em;
    }

    /*now pictures two and two on a row*/
    .images-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }

    .images-container div {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        margin-left: 70px;
        padding: 20px;
    }

    .images-container img {
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    }

}